<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:min-h-[calc(100vh-24rem)] md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">メールアドレス確認メール送信</h1>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="text-left">
        <div class="mb-8">
          <%= f.label :email, class: "block text-grey-500 text-sm font-bold mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" %>
        </div>
      </div>
      <div class="mb-8 mt-12">
        <div class="text-center mb-2 flex flex-col space-y-4">
          <%= f.submit "メールアドレス確認メールを再送信する", class: "text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" %>
        </div>
      </div>
      <div class="text-right">
        <%= render "users/shared/links" %>
      </div>
    <% end %>
  </div>
</main>
