<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 px-2 md:px-8 xl:px-0" id="contents">
  <div class="space-x-0 md:space-x-12 md:flex md:items-start">
    <div class="border border-gray-200 p-8 hidden flex-none md:block w-4/12">
      <%= render partial: "shared/profile", locals: {user: @user } %>
    </div>
    <div class="w-full md:w-8/12" id="reviews">
      <h2 class="text-2xl font-black mb-6">評価一覧</h2>
      <ul class="flex border-b border-gray-200 mb-8">
        <li class="px-4 py-4 <%= params[:good].nil? || params[:good] == "true" ? "border-b-4 border-red-500 text-red-500 font-black" : "text-gray-500 font-nomal" %> text-sm">
          <%= link_to "良かった(#{@user.evaluations.with_good(true).size})", user_evaluations_path(@user, good: true), class: "block" %>
        </li>
        <li class="px-4 py-4 <%= params[:good] == "false" ? "border-b-4 border-red-500 text-red-500 font-black" : "text-gray-500 font-nomal" %> text-sm">
          <%= link_to "残念だった(#{@user.evaluations.with_good(false).size})", user_evaluations_path(@user, good: false), class: "block" %>
        </li>
      </ul>
      <% @user.evaluations.with_good(params[:good]).each do |evaluation| %>
        <div class="flex px-4 py-4 space-x-4">
          <%= image_tag "profile.png", class:"bg-gray-500 rounded-full w-12 h-12"  %>
          <div class="flex flex-col space-y-2 flex-grow">
            <p class="font-black" id="name"><%= evaluation.reviewer.nickname %></p>
            <div class="bg-gray-100 rounded-md p-2 flex-grow" id="comment">
              <p class="mb-1"><%= evaluation.comment %></p>
              <p class="text-xs text-gray-400" id="date">2022/11/11</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
