<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name), class: "flex items-center justify-end text-sm text-blue-500 hover:opacity-80" do %>
    <span>ログイン</span>
    <svg class="w-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
    </svg>
  <% end %>
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name), class: "flex items-center justify-end text-sm text-blue-500 hover:opacity-80" do %>
    <span>新規登録</span>
    <svg class="w-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
    </svg>
  <% end %>
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name), class: "flex items-center justify-end text-sm text-blue-500 hover:opacity-80" do %>
    <span>パスワードを忘れましたか？</span>
    <svg class="w-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
    </svg>
  <% end %>
<% end %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to new_confirmation_path(resource_name), class: "flex items-center justify-end text-sm text-blue-500 hover:opacity-80" do %>
    <span>アカウント確認のメールを受け取っていませんか？</span>
    <svg class="w-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
    </svg>
  <% end %>
<% end %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to new_unlock_path(resource_name), class: "flex items-center justify-end text-sm text-blue-500 hover:opacity-80" do %>
    <span>アカウントのロック解除方法のメールを受け取っていませんか？</span>
    <svg class="w-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
    </svg>
  <% end %>
<% end %>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
