<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 px-2 md:px-8 xl:px-0" id="contents">
  <div id="profile">
    <div class="flex space-x-4 items-start mb-4 md:items-center">
      <%= image_tag "profile.png", class: "rounded-full w-16 h-16 md:w-24 md:h-24" %>
      <div>
        <p class="font-bold"><%= @user.nickname %></p>
        <div class="flex space-x-4 items-center">
          <%= link_to user_evaluations_path(@user), class: "flex space-x-2 items-center text-blue-500" do %>
            <ul class="flex items-center space-x-0.5" id="stars">
              <li>
                <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                  <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
                </svg>
              </li>
              <li>
                <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                  <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
                </svg>
              </li>
              <li>
                <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                  <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
                </svg>
              </li>
              <li>
                <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                  <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
                </svg>
              </li>
              <li>
                <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                  <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
                </svg>
              </li>
            </ul>
            <span class="text-sm">118</span>
          <% end %>
        </div>
        <button class="border text-sm border-red-500 text-red-500 px-4 py-1 rounded-md w-full md:w-auto mt-2 md:mt-0">＋フォロー</button>
      </div>
    </div>
    <div class="flex space-x-4 items-start md:items-center">
      <dl class="text-sm flex space-x-2">
        <dt class="font-bold"><%= @user.items.size %></dt>
        <dd>出品数</dd>
      </dl>
      <dl class="text-sm flex space-x-2">
        <dt class="font-bold">12</dt>
        <dd>フォロワー</dd>
      </dl>
      <dl class="text-sm flex space-x-2">
        <dt class="font-bold">4</dt>
        <dd>フォロー中</dd>
      </dl>
    </div>
  </div>
  <hr class="bg-gray-200 h-px w-full my-8 md:my-12">
  <div id="product_list">
    <div class="mb-4 px-4 md:mb-6 md:px-0">
      <h2 class="text-xl font-bold text-gray-600">出品した商品</h2>
    </div>
    <div class="col-span-9 grid grid-cols-3 gap-px md:grid-cols-5 md:gap-3 lg:gap-6">
      <% @user.items.each do |item| %>
        <%= link_to item_path(item), class: "col-span-1 group hover:opacity-80 duration-200 md:rounded-md" do %>
          <div class="relative overflow-hidden md:rounded-md">
            <div class="absolute z-10 bottom-0 left-0 bg-black bg-opacity-50 text-white font-bold rounded-r-full px-2 pr-4 py-1 text-xs md:text-lg md:mb-4"><%= number_to_currency item.price %></div>
            <% if item.order %>
              <div class="w-16 h-16 bg-red-500 text-white font-black absolute z-10 rotate-45 flex items-end justify-center right-0 top-0 text-[0.6rem] md:text-lg md:w-32 md:h-32 pb-0.5 md:pb-1 -mr-8 -mt-8 md:-mr-16 md:-mt-16">SOLD</div>
            <% end %>
            <div class="aspect-w-1 aspect-h-1 bg-gray-500 overflow-hidden md:rounded-md">
              <%= image_tag item.images.first.url, class: "object-cover md:rounded-md" %>
            </div>
          </div>
          <div class="py-2 hidden md:block">
            <p class="text-sm"><%= item.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
