<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">振込銀行口座登録</h1>
    <%= form_with model: @user_bank_account, url: mypage_user_bank_accounts_path do |f| %>
      <div class="text-left">
        <div class="mb-6">
          <%= f.label :name, class: "block text-grey-500 text-sm font-bold mb-2" %>
          <%= f.text_field :name, class: "appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full", placeholder: "URIKAI銀行" %>
        </div>
        <div class="mb-6">
          <%= f.label :kind, class: "block text-grey-500 text-sm font-bold mb-2" %>
           <%= f.collection_radio_buttons(:kind, UserBankAccount.kinds_i18n, :first, :last) do |b| %>
             <%= b.label(class: "block w-full hover:bg-gray-100 transition duration-200 px-1 py-2") do %>
               <%= b.radio_button(class: "mr-1") + tag.span(b.text, class: "text-sm") %>
             <% end %>
           <% end %>
        </div>
        <div class="mb-6">
          <%= f.label :branch_name, class: "block text-grey-500 text-sm font-bold mb-2" %>
          <%= f.text_field :branch_name, class: "appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full", placeholder: "URIKAI支店" %>
        </div>
        <div class="mb-6">
          <%= f.label :account_number, class: "block text-grey-500 text-sm font-bold mb-2" %>
          <%= f.text_field :account_number, class: "appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full", placeholder: "1234567" %>
        </div>
        <div class="mb-6">
          <%= f.label :account_name, class: "block text-grey-500 text-sm font-bold mb-2" %>
          <%= f.text_field :account_name, class: "appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full", placeholder: "うりかい太郎" %>
        </div>
      </div>
      <div class="text-left mt-12">
        <div class="text-center mb-2 flex flex-col space-y-4">
          <%= f.submit class: "text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</main>
