<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="md:flex ">
    <div class="text-left w-full px-4 bg-white md:w-2/3 lg:w-2/3 ">
      <h1 class="font-black mb-8 text-2xl">購入内容の確認</h1>
      <div class="text-left">
        <div class="flex space-x-4 items-center border-t border-b border-gray-300 py-4 mb-4">
          <%= image_tag @item.images.first.url, class: "w-16 border border-gray-300" %>
          <div>
            <p><%= @item.name %></p>
            <p class="text-sm">
              <span class="font-bold"><%= number_to_currency(@item.price) %></span>
              <span class="text-xs">(税込)</span>
              <span class="text-xs ml-2"><%= @item.shipping_payer_type.name %></span>
            </p>
          </div>
        </div>
        <div class="border-b border-gray-200 mb-4 p-4 rounded-sm relative">
          <%= link_to item_stripe_payments_path(@item), class: "mt-1 mr-1 absolute right-0 top-0 ml-auto flex items-center text-sm text-blue-500 hover:opacity-80" do %>
            <span>編集する</span>
            <svg class="w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.964 8.965">
              <g id="_4352" data-name=" 4352" transform="translate(-853.234 -789.186)">
                <g id="_4351" data-name=" 4351">
                  <path id="_12944" data-name=" 12944" d="M861.87,790.307l-.792-.793a1.121,1.121,0,0,0-1.585,0l-4.81,4.811a4,4,0,0,0-.889,1.352l-.56,2.474,2.473-.56a13.549,13.549,0,0,0,1.352-.889l4.811-4.811A1.119,1.119,0,0,0,861.87,790.307Zm-5.205,6a5.68,5.68,0,0,1-.552.379l-1.451-1.452a5.092,5.092,0,0,1,.417-.511L858.7,791.1l1.586,1.585Z" fill="currentColor"></path>
                </g>
              </g>
            </svg>
          <% end %>
          <h3 class="text-lg font-black mb-4">支払い方法</h3>
          <% if stripe_payment = current_user.stripe_customer.current_stripe_payment&.stripe_payment %>
            <div class="flex text-sm space-x-4">
              <div class="flex items-center">
                <%= image_tag "#{stripe_payment.brand}.svg", class: "h-6 flex-none flex-0" %>
              </div>
              <p>クレジットカード<br />**** **** **** <%= stripe_payment.last4 %> <%= stripe_payment.exp_month %>/<%= stripe_payment.exp_year %></p>
            </div>
            <% if stripe_payment.expired? %>
              <p class="text-red-500 mt-2 text-sm">クレジットカードの有効期限が切れています。他の支払い方法を選択してください。</p>
            <% end %>
          <% else %>
            <p class="text-red-500 mt-2 text-sm">クレジットカードを選択してください</p>
          <% end %>
        </div>
        <div class="border-b border-gray-200 mb-4 p-4 rounded-sm relative">
          <%= link_to item_shipping_addresses_path(@item), class: "mt-1 mr-1 absolute right-0 top-0 ml-auto flex items-center text-sm text-blue-500 hover:opacity-80" do %>
            <span>編集する</span>
            <svg class="w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.964 8.965">
              <g id="_4352" data-name=" 4352" transform="translate(-853.234 -789.186)">
                <g id="_4351" data-name=" 4351">
                  <path id="_12944" data-name=" 12944" d="M861.87,790.307l-.792-.793a1.121,1.121,0,0,0-1.585,0l-4.81,4.811a4,4,0,0,0-.889,1.352l-.56,2.474,2.473-.56a13.549,13.549,0,0,0,1.352-.889l4.811-4.811A1.119,1.119,0,0,0,861.87,790.307Zm-5.205,6a5.68,5.68,0,0,1-.552.379l-1.451-1.452a5.092,5.092,0,0,1,.417-.511L858.7,791.1l1.586,1.585Z" fill="currentColor"></path>
                </g>
              </g>
            </svg>
          <% end %>
          <h3 class="text-lg font-black mb-4">配送先</h3>
          <% if shipping_address = current_user.current_shipping_address&.shipping_address %>
          <div class="flex text-sm space-x-4">
            <p><%= shipping_address.full_name %><br />〒<%= shipping_address.display_postal_code %><br /><%= shipping_address.address %></p>
          </div>
          <% else %>
            <p class="text-red-500 mt-2 text-sm">配送先住所を選択してください</p>
          <% end %>
        </div>
      </div>
      <div class="text-left mt-6 px-2">
        <p class="text-sm">* 配送先に変更がないかご確認ください</p>
      </div>
    </div>
    <div class="text-center w-full px-4 bg-white md:w-1/3 lg:w-1/3">
      <div class="border border-gray-300 p-4">
        <div class="flex justify-between text-sm">
          <p class="font-bold">商品の価格</p>
          <p><%= number_to_currency(@item.price) %></p>
        </div>
        <hr class="my-4">
        <div class="flex justify-between text-sm mb-4">
          <p class="font-bold">支払い金額</p>
          <p class="text-2xl font-black"><%= number_to_currency(@item.price) %></p>
        </div>
        <div class="flex justify-between text-sm">
          <p class="font-bold">支払い方法</p>
          <p>クレジットカード払い</p>
        </div>
      </div>
      <div class="mt-8 fixed bottom-0 bg-white w-full p-3 md:p-0 border-t border-gray-300 md:border-none -ml-4 md:ml-0 md:w-auto z-50 md:static">
        <button class="text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" value="">購入する</button>
      </div>
    </div>
  </div>
</main>
