<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <% if flash[:notice] %>
        <div class="mt-20 bg-blue-100 booder-t border-t border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="text-sm"><%= flash[:notice] %></p>
        </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="mt-20 bg-red-100 booder-t border-t border-red-100 text-red-700 px-4 py-3" role="alert">
        <p class="text-sm"><%= flash[:alert] %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
